@model MemoriesCollection.ViewModels.PageTableViewModel
@{
    ViewBag.Title = "影片編輯";
    var isHor = Model.ViewBag.IsHor;
    int height = 500;
    int width = 500;
}
<div class="wj-block-c">
    <a href="#" class="button btn-outline-black" func="Return"><i class="fa fa-arrow-left"></i>回影片</a>
    <a href="#" class="button btn-outline-confirm" func="Save">儲存</a>
    <a href="#" class="button btn-outline-red" func="Del">刪除</a>
</div>
@if (Model.ViewBag.IsData) {
    var dr = Model.SqlData.FirstOrDefault();
    string ext = dr.FileExt;
    string name = dr.FileName;
    string desc = dr.FileDesc;
    string videoNo = dr.VideoNo.ToString();
    int size = Convert.ToInt32(dr.Size);
    var imgUrl = Url.Action("GetLocal", "Files", new { k = Key.Encrypt(name), t = Key.Encrypt(new { Root = AppConfig.VideoThbPath, Folder = "", FileName = videoNo + ".png" }) });
    var personList = string.IsNullOrEmpty(dr.Person) ? new string[] { } : dr.Person.Split(',');
    var Allperson = Model.ViewBag.PersonList.Split(',');
    string video = $"{videoNo}{ext}";
    height = dr.Height;
    width = dr.Width;

    <div id="preview" class="@((isHor)?"":"vertical")">
        <div class="inner">
            <div class="image fit">
                <a href="#" class="showVideo" detail-param="@video" data-params="@($"{width},{height}")">
                    <img src="@(imgUrl)" alt="@name" id="video-Tb" />
                </a>
            </div>
            <div class="content">
                <header>
                    <h2>影片名稱 </h2>
                    <div class="wj-block-l">
                        <input type="search" id="name" name="name" maxlength="100" value="@name" placeholder="請輸入標題" />
                        <button class="button btn-secondary clearText" clearText="name">清除</button>
                    </div>
                </header>
                <p>
                    <label for="desc">影片簡介</label>
                    <textarea id="desc" class="lg" name="desc" rows="10" maxlength="250" placeholder="影片描述">@Html.Raw(desc)</textarea>
                </p>
                <p>
                    <label for="location">地點</label>
                    <input type="text" class="lg" id="location" name="location" maxlength="50" value="@dr.Location" placeholder="地點" />
                </p>
                <p>
                    <label for="person">人物</label>
                    <a href="#" func="AddPerson"><i class="fa fa-plus text-primary"></i></a>
                    <select id="person" class="lg">
                        @foreach (var p in Allperson) {
                            <option value="@p">@p</option>
                        }
                    </select>
                </p>
                <div id="personResult">
                    @foreach (var p in personList) {
                        <span>
                            @p <input type='hidden' name='Person' value='@p'>
                            <i class="fa fa-times text-danger" func='DelPerson'></i><br />
                        </span>
                    }
                </div>
            </div>
        </div>
    </div>

}


