@model MemoriesCollection.ViewModels.PageTableViewModel
<!-- Boxes -->
@foreach (var dr in Model.VideoList) {
    var videoNo = dr.VideoNo.ToString();
    var encryptNo = Key.Encrypt(videoNo);
    var ext = dr.FileExt;
    var name = dr.FileName;
    var desc = dr.FileDesc;
    var location = dr.Location.FixNull();
    var person = dr.Person.FixNull();
    var dwName = $"{name}{ext}";
    var fileName = Key.Encrypt($"{videoNo}{ext}");
    int width = dr.Width;
    int height = dr.Height;
    int size = dr.Size;
    string video = $"{videoNo}{ext}";
    var imgUrl = Url.Action("GetLocal", "Files", new { t = Key.Encrypt(new { Root = AppConfig.VideoThbPath, Folder = "", FileName = Key.Encrypt(videoNo + ".jpg") }) });
    var dwUrl = Url.Action("GetLocal", "Files", new { t = Key.Encrypt(new { Root = AppConfig.VideoPath, Folder = "", FileName = fileName, DwName = dwName }) });

    <div class="box">
        <a href="#" class="image fit showVideo" data-params="@fileName">
            <img src="@(imgUrl)" alt="@name" />
        </a>
        <div class="inner">
            <h3 class="txt-black">
                @name <i class="fa fa-info-circle v-title" aria-hidden="true"></i>
            </h3>
            <p class="videoInfo txt-deepPink hidden">@($"長:{dr.Height} / 寬:{dr.Width} / 長度:{Key.FormatNumber(dr.Size / 1000000)}Mb")</p>
            <p class="txt-white">@dr.OrgCreateDateTime</p>

            @if (location != "" || person != "") {
                <p>
                    @if (location != "") {
                        <span class="txt-white">#@location</span><br />
                    }
                    @if (person != "") {
                        <span class="txt-white">#@person</span>
                    }
                </p>
            }
            <button type="button" class="button btn-red" onclick="EditVideo('@encryptNo')" data-params="@encryptNo">編輯</button>
            <button type="submit" class="button btn-c2" onclick="window.open('@(dwUrl)')">下載</button>
        </div>
    </div>
}



@if (!Model.ViewBag.IsEnd && Model.VideoList.Count() == 0) {
    <div class="txt-c txt-red msg-info"><p>@AppConfig.NoData</p></div>
}
