@model MemoriesCollection.ViewModels.PageTableViewModel
@{
    ViewBag.Title = "編輯相簿";
    var album = Model.Album;
    var albumNo = album.AlbumNo;
    var bgImg = (album.BgImg.FixNull() != "") ? $"background-image:url(../..{AppConfig.ImgPath}{album.BgImg})" : "";
    int imgCnt = (album.ImgNo.FixNull() == "") ? 0 : album.ImgNo.Split(',').Length;

}
<div id="main-div-data" class="album">
    <div id="ListPanel-1">
        <div class="wj-block-c">
            <a href="@Url.Action("Index","Album")" class="button btn-outline-black"><i class="fa fa-arrow-left"></i>回相簿</a>
            <a href="#" class="button btn-outline-red" id="addImg">儲存</a>
            <a href="@Url.Action("AddPhoto", "Photo", new { k = Key.Encrypt(new { AlbumNo = albumNo, album.AlbumName}) })" class="button btn-outline-confirm"><i class="fa fa-upload">上傳</i></a>
        </div>
        <div class="imgHead">
            <div id="albumTitle" class="albumTitle" style="@(bgImg)">
                <div>
                    <input type="text" class="albumTxt" id="editAlbumName" name="albumName" value="@album.AlbumName" />
                </div>
                <div>
                    <textarea class="albumTxt" id="editAlbumDesc" name="albumDesc" maxlength="50" rows="10">@album.AlbumDesc</textarea>
                </div>
            </div>
        </div>

        <div id="qry-block" class="wj-block-l">
            <label for="" class="more-cond">關鍵字</label>
            <input type="search" name="KeyWord" value="" class="more-cond" />
            <label for="" class="more-cond">拍攝日期</label>
            <input type="search" class="more-cond" id="fmDate" name="FmDate" onclick="WdatePicker({ maxDate: '#F{$dp.$D(\'toDate\');}' })" />
            <input type="search" class="more-cond" id="toDate" name="ToDate" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'fmDate\');}' })" />
            <select name="Type">
                <option value="tab_2" @(imgCnt == 0 ? "" : "selected")>相簿照片</option>
                <option value="tab_3" @(imgCnt != 0 ? "" : "selected")>非相簿照片</option>
                <option value="tab_4">未分類照片</option>
            </select>
            <input type="button" class="button btn-c1" func="Query" value="查詢" />
            結果:<span id="TotalCnt" class="txt-red">0</span>張
            <a href="#" id="more-cond" class="hidden" onclick="$('.more-cond').toggle();">進階查詢</a>
        </div>
        <section id="blockSection"></section>
    </div>
    <!-- Detail -->
    <div id="ListPanel-2" style="display:none;"></div>
    <!-- Edit -->
    <div id="ListPanel-3" style="display:none;"></div>
</div>
@section Scripts{
    <script>
        var imgCnt = "@imgCnt";
        var _IsEnd = (parseInt(imgCnt)==0)?true:false;
        var _Num = 0;
        var _AlbumKey = '@albumNo';
        var _PhotoKey = -1;
        var gallery;
        var _Params = ""; // 查詢參數

        $(window).scroll(function () {
            //最後一頁scrollTop=body-window，50是預留空間
            var last = $("body").height() - $(window).height() - $('#footer').height()- $('#photo-action').height();
            if (last>0 &&$(window).scrollTop() >= last && _IsEnd == false && $('#blockSection').is(':visible')) {
                _IsEnd = true;
                _Params.Append = true;
                _Num += @(AppConfig.PhotoLimit);
                MorePhoto();
            }
        });

        $(document).on('click', '[func]', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var $this = $(this);
            var func = $this.attr('func');
            var tags = {
                "Func": func
            };
            var url = '@Url.Action("Index", "Album")';
            switch (func) {
                case "ChoseImg":
                    var $chk = $('[type=checkbox]', $this).prop('checked');
                    $('[type=checkbox]', $this).prop('checked', !$chk);
                    break;
                case "Query":
                    var tags = $('#qry-block').tags();
                    tags.Append = false;
                    tags.AlbumNo = _AlbumKey;
                    _Params = tags;
                    _Num = 0; //重置
                    MorePhoto();
                    break;
            }
        });

        $('#albumTab span').on('click', function () {
            var $this = $(this);
            var type = $this.attr("id");
            if (type == "tab_2" && imgCnt == "0") {
                layer.alert("尚無新增任何照片 !", { icon: 7 });
                return false;
            }
            $('#albumTab span .wj-badge').removeClass('active').removeClass('bg-deepPink');
            $('.wj-badge',$this).addClass('active').addClass('bg-deepPink');
            InitPhoto();
            MorePhoto(type);
        });

        $(document).on('click', '#addImg', function () {
            layer.confirm('確認儲存 ?', { title: '儲存', icon: 3 }, function (index) {
                layer.close(index);
                $.wait();
                var tags = {
                    ImgNo: $('[name=imgNo]:checked').vals().toString(),
                    AlbumNo: _AlbumKey,
                    AlbumName: $('#editAlbumName').val(),
                    AlbumDesc: $('#editAlbumDesc').val()
                }
                Sys.AjaxExec("/Album/AddImg", tags, function (data) {
                    location.reload();
                });
            });
        });

        function InitPhoto(){
            $('#blockSection').empty();
            _Num = 0;
        }

        function InitGallery() {
            if (typeof _Gallery != "undefined") {
                $("#blockSection").data('lightGallery').destroy(true);
            }
            _Gallery = $("#blockSection").lightGallery({
                selector: '.item',
                pause: 2000,
                share: false,
                setBg: true,
                actualSize:false
            });
        }

        function MorePhoto() {
            var tags = {
                TargetID: "blockSection",
                SPic: _Num,
                Append: true,
                Type: $('#albumTab span.active').parent('span').attr('id'),
                AlbumNo: _AlbumKey
            }
            $.extend(tags, _Params);
            $.wait('相片搜尋中...');
            Sys.AjaxExec("Photo", tags, function (data) {
                var json = JSON.parse(data[2]);
                //_Cond = json.Cond;
                _IsEnd = json.End=="Y"?true:false;
                if(tags.SPic==0){
                    $('#TotalCnt').text(json.Cnt);
                }
                $('.spanBlock').show();
                $('.lazy').Lazy();
                InitGallery();
                $.close();
            });
        }

        $('[func=Query]').trigger('click');

    </script>
}

