@model MemoriesCollection.ViewModels.PageTableViewModel
@{
    ViewBag.Title = "相簿";
}
<div id="main-div-data">
    <div class="wj-block-l crtAlbum">
        <a href="#" onclick="OpenAlbum();" class="txt-deepPink"><i class="fa fa-upload">建立相簿</i></a>
    </div>
    <div id="ListPanel-1" style="display: flex;flex-wrap: wrap;justify-content: space-around;">
        @foreach (var a in Model.AlbumList) {
            var imgNo = a.ImgNo.FixNull();
            var bgImg = a.BgImg.FixNull() == "" ? "" : $"background-image:url(../..{AppConfig.ImgThbPath}{a.BgImg})";
            var noImg = (imgNo == "" ? "noImgAlbum" : "");
            var photoCnt = (imgNo == "" ? 0 : a.ImgNo.Split(',').Length);
            var zipName = a.AlbumNo + a.AlbumName + ".zip";
            var url = Url.Action("GetLocal", "Files", new { t = Key.Encrypt(new { Root = AppConfig.ZipPath, Folder = "", FileName = zipName }) });
            var albumNo = a.AlbumNo;

            <div class="albumBlock @noImg" style="@(bgImg)">
                <div class="info" url="@Url.Action("Detail","Album",new { k=Key.Encrypt(a.AlbumNo)})">
                    <button class="button btn-red" func="DelAlbum" data-params="@albumNo">刪除</button>
                    @if (photoCnt > 0) {
                        if (System.IO.File.Exists($"{Server.MapPath(AppConfig.ZipPath)}{zipName}")) {
                            <button url="@url" class="button btn-confirm">下載</button>
                        } else {
                            <button class="button btn-black" func="AlbumExport" data-params="@albumNo">匯出</button>
                        }
                    }
                    <p>
                        @a.AlbumName
                        <br />@photoCnt 張照片
                    </p>
                </div>
            </div>
        }
    </div>
    <div id="ListPanel-2"></div>
</div>

@section Scripts{
    <script>

        $('#main-div-data [url]').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            location.href = $(this).attr('url');
        });

        // 圖片編輯
        $('#main-div-data [func]').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var $this = $(this);
            var tags = {
                "Func": $this.attr('func')
            };
            var url = '/Album/{0}'.format(tags.Func);

            switch (tags.Func) {
                case "AlbumExport":
                    url = '@Url.Action("AlbumExport", "Album")';
                    tags.AlbumNo = $this.attr('data-params');
                    $.wait();
                    Sys.AjaxExec(url, tags, function () {
                        location.reload();
                    });
                    break;
                case "DelAlbum":
                    tags.AlbumNo = $this.attr('data-params');
                    layer.confirm('確認刪除相簿 ?', { title: '刪除', icon: 3 }, function (index) {
                        layer.close(index);
                        $.wait("刪除資料中，請稍候...");
                        Sys.AjaxExec(url, tags, function () {
                            location.reload();
                        });
                    });
                    break;
            }
        });
    </script>
}
