@model MemoriesCollection.ViewModels.PageTableViewModel
@{
    ViewBag.Title = "相簿";
}
<div id="main-div-data">
    <div class="wj-block-l crtAlbum">
        <a href="#" onclick="OpenAlbum();" class="txt-deepPink"><i class="fa fa-upload">建立相簿</i></a>
    </div>
    <div id="ListPanel-1" style="display: flex;flex-wrap: wrap;justify-content: space-around;">
        @foreach (var a in Model.AlbumList) {
            var imgNo = a.ImgNo.FixNull();
            var imgTbUrl = Url.Action("GetLocal", "Files", new { t = Key.Encrypt(new { Root = AppConfig.ImgThbPath, Folder = "", FileName = Key.Encrypt(a.BgImg) }) });
            var bgImg = a.BgImg.FixNull() == "" ? "" : $"background-image:url({imgTbUrl})";
            var noImg = (imgNo == "" ? "noImgAlbum" : "");
            var photoCnt = (imgNo == "" ? 0 : a.ImgNo.Split(',').Length);
            var zipName = a.AlbumNo + a.AlbumName + ".zip";
            var url = Url.Action("GetLocal", "Files", new { t = Key.Encrypt(new { Root = AppConfig.ZipPath, Folder = "", FileName = Key.Encrypt(zipName) }) });
            var albumNo = a.AlbumNo;
            var encryptNo = Key.Encrypt(albumNo);

            <div class="albumBlock @noImg" style="@(bgImg)">
                <div class="info" url="@Url.Action("Detail","Album",new { k=Key.Encrypt(a.AlbumNo)})">
                    <button class="button btn-red" onclick="window.event.cancelBubble = true;DelAlbum('@encryptNo');">刪除</button>
                    @if (photoCnt > 0) {
                        if (System.IO.File.Exists($"{Server.MapPath(AppConfig.ZipPath)}{zipName}")) {
                            <button url="@url" class="button btn-confirm">下載</button>
                        } else {
                            <button class="button btn-black" onclick="window.event.cancelBubble = true;AlbumExport('@encryptNo')">匯出</button>
                        }
                    }
                    <p>
                        @a.AlbumName
                        <br />@photoCnt 張照片
                    </p>
                </div>
            </div>
        }

        @if (Model.AlbumList.Count() == 0) {
            <p class="txt-c txt-red msg-info">
                @AppConfig.NoData
            </p>
        }
    </div>
    <div id="ListPanel-2"></div>
</div>

@section Scripts{
    <script>

        $('#main-div-data [url]').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            location.href = $(this).attr('url');
        });

        function AlbumExport(val) {
            var tags = {
                AlbumNo: val
            };

            $.wait('照片匯出中，請稍候...');
            Sys.AjaxExec('@Url.Action("AlbumExport", "Album")', tags, function () {
                location.reload();
            });
        }

        function DelAlbum(val) {
            var tags = {
                AlbumNo: val
            };

            layer.confirm('確認刪除相簿 ?', { title: '刪除', icon: 3 }, function (index) {
                layer.close(index);
                $.wait("刪除相簿中，請稍候...");
                Sys.AjaxExec('@Url.Action("DelAlbum", "Album")', tags, function () {
                    location.reload();
                });
            });
        }

    </script>
}
