@model MemoriesCollection.ViewModels.PageTableViewModel
@{
    int cnt = 0;
}
@foreach (var dr in Model.PhotoList) {
    var imgNo = dr.ImgNo;
    var name = dr.FileName;
    var desc = dr.FileDesc;
    var width = (double)dr.Width;
    var height = (double)dr.Height;

    var fileName = $"{imgNo}{dr.FileExt}";
    var dwName = $"{dr.FileName}{dr.FileExt}";

    var imgTbUrl = Url.Action("GetLocal", "Files", new { t = Key.Encrypt(new { Root = AppConfig.ImgThbPath, Folder = "", FileName = fileName, DwName = dwName }) });
    var imgUrl = Url.Action("GetLocal", "Files", new { t = Key.Encrypt(new { Root = AppConfig.ImgPath, Folder = "", FileName = fileName, DwName = dwName }) });

    double styleWidth = width * 200 / height;
    double padding = height / width * 100;

    <div id="p_@imgNo" style="width:@(styleWidth)px;flex-grow:@(styleWidth)">
        <i style="padding-bottom:@(padding)%"></i>
        <a href="@imgUrl" class="item" data-sub-html="@name" onclick="return false;">
            <img class="lazy" src="" data-src="@imgTbUrl" data-params="@(imgNo)" action="DelImg" />
            <div class="info">
                <p>@name</p>
            </div>
        </a>
    </div>
    cnt++;
}