@model MemoriesCollection.ViewModels.PageTableViewModel
<!-- Boxes -->
@foreach (var dr in Model.AudioList) {
    string audioNo = dr.AudioNo.ToString();
    string ext = dr.FileExt;
    string name = dr.FileName;
    string dwName = $"{name}{ext}";
    string fileName = $"{audioNo}{ext}";
    int size = dr.Size;
    string audio = $"{audioNo}{ext}";
    var audioUrl = Url.Action("GetLocal", "Files", new { t = Key.Encrypt(new { Root = AppConfig.AudioPath, Folder = "", FileName = fileName }) });
    var dwUrl = Url.Action("GetLocal", "Files", new { t = Key.Encrypt(new { Root = AppConfig.AudioPath, Folder = "", FileName = fileName, DwName = dwName }) });

    <div class="box">
        <audio controls>
            <source src="@audioUrl">
        </audio>
        <div class="inner">
            <h3 class="txt-black">
                <input type="text" name="FileName" value="@name" />
            </h3>

            <button type="button" class="button btn-red" data-param="@audioNo" onclick="SaveAudio(this)">儲存</button>
            <button type="button" href="@dwUrl" class="button btn-c2" data-param="@audioNo" onclick="SaveAudio(this)">下載</button>

        </div>
    </div>
}
