<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 回憶冊</title>
    @Styles.Render("~/Content/ThirdPartyCss")
    @Styles.Render("~/Content/WjCss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="navBar">
        <ul>
            <li><a href="javascript:void(0);" id="menu-trigger"><i class="fa fa-bars"></i></a></li>
            <li><a class="active" href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("TimeLine", "Home")">時間軸</a></li>
        </ul>
    </div>
    <div id="menu" style="display: none;">
        <ul class="cd-accordion-menu animated">
            <li><a href="@Url.Action("AddPhoto","Photo")" menu><i class="fa fa-plus"></i>新增相片</a></li>
            <li><a href="#" onclick="OpenAlbum();" class="crtAlbum" menu><i class="fa fa-plus"></i>新增相簿</a></li>
            <li><a href="@Url.Action("AddVideo", "Video")" menu><i class="fa fa-plus"></i>新增影片</a></li>
            <li><a href="@Url.Action("AddAudio","Audio")" menu><i class="fa fa-plus"></i>新增音訊</a></li>
            <li><a href="@Url.Action("Index","Photo")" menu> <i class="fa fa-camera-retro"></i>批次刪除相片 </a></li>
            <li><a href="@Url.Action("Index","Album")" menu><i class="fa fa-picture-o"></i>相簿</a></li>
            <li><a href="@Url.Action("Index","Video")" menu><i class="fa fa-video-camera"></i>影片</a></li>
            <li><a href="@Url.Action("Index","LogInfo")" menu><i class="fa fa-file-text"></i>錯誤記錄</a></li>
        </ul> <!-- cd-accordion-menu -->
    </div>

    <div class="container">
        <div class="" id="navbar-sum">
            <a href="@Url.Action("Index","Home")">相片</a><span class='wj-badge' id="sum-photos">0</span>
            <a href="@Url.Action("Index","Album")">相簿</a><span class='wj-badge' id="sum-albums">0</span>
            <a href="@Url.Action("Index","Video")">影片</a><span class='wj-badge' id="sum-videos">0</span>
            <a href="@Url.Action("Index","Audio")">音訊</a><span class='wj-badge' id="sum-audio">0</span>
        </div>

        @RenderBody()

    </div>
    <div id="photo-action" class="sticky-bottom" style="display:none;">
        <span>已勾選<span id="photo-cnt">0</span>張圖片</span>
        <button class="button btn-secondary" func="ChoseAll">全選</button>
        <button class="button btn-red" func="Delete">刪除</button>
        <button class="button btn-black" func="Reset">清除</button>
    </div>
    <footer id="footer">

        @*<a href="javascript:void();" class="info fa fa-info-circle" onclick="ShowFooter()"><span>About</span></a>
            <div class="inner">
                <div class="content">
                    <h3>標題</h3>
                    <p></p>
                </div>
                <div class="copyright">
                    <h3>Follow me</h3>
                    <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                    </ul>
                    &copy;
                </div>
            </div>*@
    </footer>

    <div id="photo-action" class="sticky-bottom" style="display:none;">
        <span>已勾選<span id="photo-cnt">0</span>張圖片</span>
        <button class="button btn-secondary" func="ChoseAll">全選</button>
        <button class="button btn-red" func="Delete">刪除</button>
        <button class="button btn-black" func="Reset">清除</button>
    </div>

    <div id="AlbumPanel">
        <div id="album-modal" class="wj-modal wj-animate-top">
            <div class="wj-modal-content">
                <header class="wj-container wj-teal">
                    <span class="wj-button wj-large wj-display-topright" dissmiss-modal>×</span>
                    <h3>建立相簿</h3>
                </header>
                <div class="wj-container">
                    <input type="search" class="lg" id="albumName" name="albumName" value="" placeholder="相簿名稱" maxlength="50" />
                    <textarea rows="10" class="lg" name="albumDesc" placeholder="相簿描述" maxlength="500"></textarea>
                </div>
                <footer class="wj-container wj-teal">
                    <button type="button" class="button btn-red" id="saveAlbum">建立</button>
                    <button type="button" class="button btn-secondary" dissmiss-modal>關閉</button>
                </footer>
            </div>
        </div>
    </div>

    <div id="LoadingModal">
        <div>
            <img src="..\Images\Loading.gif" style="vertical-align:middle;">
            <span id="LoadingMsg"></span>
        </div>
    </div><!-- ajax loading -->
    <div id="ProgressBarBlock"><div id="bar"></div></div>
    <div class="VideoModal hidden">
        <!-- video lightbox -->
        <div class="video-wrap">
            <div class="video-container">
                <div class="video-content"></div>
                <button class="video-close" type="button">&times;</button>
            </div>
        </div>
    </div>
    <button onclick="topFunction()" id="backToTopBtn" title="Go to top"><i class="fa fa-arrow-up"></i></button>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/WjJs")
    @Scripts.Render("~/bundles/ThirdPartyJs")
    <script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    @RenderSection("scripts", required: false)
    <script>
        var _UaSpec = new UAParser().getResult();
        var _IsDesktop = !(_UaSpec.device.type == "mobile" || _UaSpec.device.type == "tablet")

        if (_IsDesktop) {
            $('.wj-dropBlock').show();
        }

        function ShowFooter() {
            $('#footer').attr('class', $('#footer').prop('class') == '' ? 'show' : '');
        }

        /** Gallery Button Action **/
        function PhotoDetail(imgNo) {
            // 相片明細
            var tags = {};
            var url = '@Url.Action("Detail", "Home")';
            _PhotoKey = imgNo;
            tags.TargetID = "ListPanel-2";
            tags.ImgNo = _PhotoKey;
            //tags.Prog = prog;
            _Loading = false;
            SaveScrollTop();
            $.wait();
            Sys.AjaxExec(url, tags, function () {
                $('.lg-backdrop.in,.lg-outer.lg-visible,#ListPanel-1').hide();
                $('#person').select2({ tags: true });
                $('.lazy').Lazy();
                $(window).scrollTop(0);
                $.close();
            });
        }

        function PhotoBack() {
            RestoreScrollTop();
            _Loading = true;
            _PhotoKey = -1; //重新抓新的\
            $('#ListPanel-2').hide();
            $('.lg-backdrop.in,.lg-outer.lg-visible,#ListPanel-1').show();
        }

        function EditPhoto(func) {
            var url = '@Url.Action("Detail", "Home")';
            $.wait();
            _PhotoKey = (_PhotoKey == -1) ? $this.attr('data-params') : _PhotoKey;
            var tags = {};
            tags.Func = func;
            tags.TargetID = "ListPanel-2";
            tags.ImgNo = _PhotoKey;
            tags.Cond = typeof (_Cond) == "undefined" ? "" : _Cond;
            tags.EditStatus = (tags.Func == "Edit") ? "Y" : "";
            Sys.AjaxExec(url, tags, function (data) {
                $('#ListPanel-1').hide();
                $('#person').select2({ tags: true });
                $('.lazy').Lazy();
                if (tags.EditStatus == "") {
                    $(window).scrollTop(0);
                }
                $.close();
            });
        }

        function SavePhoto() {
            var url = '@Url.Action("Save", "Home")';
            var tags = $('#preview').tags();
            var msg = [];
            msg.push(IsEmpty(tags.Name) ? "標題不可為空 !" : "");
            msg.push(/[\/\*\?\|<>:]/.test(tags.Name) ? "檔案不可包含違法字元 <span class='txt-red'>\ / : * ? | < ></span> !" : "");
            msg = msg.filter(Boolean);

            if (msg.length > 0) {
                layer.alert(msg.join("<br>"), { title: '請輸入正確資料', icon: 0 });
            } else {
                layer.confirm('確認修改 ?', { icon: 3 }, function (index) {
                    layer.close(index);
                    $.wait('資料儲存中...');
                    tags.ImgNo = _PhotoKey;
                    tags.Person = $('[name=person]').vals().toString();
                    Sys.AjaxExec(url, tags, function (data) {
                        $.close();
                        layer.alert('修改成功 !', { icon: 1 }, function (index) {
                            layer.close(index);
                            EditPhoto('Cancel');
                        });
                    });
                });
            }
        }

        function DelImg($this) {
            var url = '@Url.Action("DelImg", "Home")';
            _PhotoKey = (_PhotoKey == -1) ? $this.attr('data-params') : _PhotoKey;
            var tags = {};
            tags.ImgNo = _PhotoKey;
            Sys.AjaxExec(url, tags, function () {
                layer.open({
                    content: '刪除成功 !',
                    time: 1000,
                    shade: 0,
                    btn: 0,
                    title: 0
                });
                GetSum();
                $('#p_{0}'.format(_PhotoKey)).remove();
                _PhotoKey = -1;
            });
        }

        function SetAlbumBg($this) {
            var url = '@Url.Action("SetBg", "Album")';
            var tags = {};
            tags.AlbumNo = $this.attr('data-album');
            tags.ImgNo = $this.attr('data-params');
            tags.ImgExt = $this.attr('data-imgExt');
            tags.FileName = tags.ImgNo + tags.ImgExt;
            Sys.AjaxExec(url, tags, function (data) {
                layer.alert("相簿背景圖設定成功 !", { icon: 1 });
                $('#albumTitle').css('background-image', 'url(../..{0}{1})'.format('@AppConfig.ImgPath', tags.FileName));
            });
        }

        function RmImg($this) {
            var url = '@Url.Action("RmImg", "Album")';
            var tags = {};
            tags.AlbumNo = $this.attr('data-album');
            tags.ImgNo = $this.attr('data-params');
            Sys.AjaxExec(url, tags, function (data) {
                _PhotoKey = -1;
                $this.parents('.gallery').remove();

                var bg = $('#albumTitle').css("background-image")
                bg = bg.replace(/.*\s?url\([\'\"]?/, '').replace(/[\'\"]?\).*/, '');
                if (bg.substring(bg.lastIndexOf('/') + 1, bg.lastIndexOf('.')) == tags.ImgNo) {
                    $('#albumTitle').css('background-image', '');
                }
            });
        }

        function EditVideo(val) {
            SaveScrollTop();
            var url = '@Url.Action("Edit", "Video")';
            var tags = {};
            tags.VideoNo = val;
            tags.TargetID = "ListPanel-2";
            $.wait();
            Sys.AjaxExec(url, tags, function (data) {
                $('#ListPanel-1').hide();
                $('#person').select2({ tags: true, placeholder: "人名" });
                $(window).scrollTop(0);
                $.close();
            });

        }

        function SaveVideo(val) {
            var msg = [];
            var url = '@Url.Action("Save", "Video")';
            var tags = $('#preview').tags();
            msg.push(IsEmpty(tags.name) ? "影片名稱不可為空 !" : "");
            msg.push(/[\/\*\?\|<>:]/.test(tags.name) ? "檔案不可包含違法字元(<span class='txt-red'>\ / : * ? | < ></span>) !" : "");
            msg = msg.filter(Boolean);

            if (msg.length > 0) {
                layer.alert(msg.join("<br>"), { title: '請輸入正確資料', icon: 0 });
            } else {
                layer.confirm('確認儲存 ?', { title: '儲存', icon: 3 }, function (index) {
                    layer.close(index);
                    $.wait('資料儲存中...');
                    tags.videoNo = val;
                    tags.person = $('[name=person]').vals().toString();
                    tags.Img = $('#video-Tb').attr('src');
                    Sys.AjaxExec(url, tags, function (data) {
                        EditVideo(val);
                    });
                });
            }
        }

        function DelVideo(val) {
            var url = '@Url.Action("Del", "Video")';
            var tags = {};
            tags.VideoNo = val;
            layer.confirm('確認儲存 ?', { title: '儲存', icon: 3 }, function (index) {
                layer.close(index);
                $.wait('資料刪除中...');
                Sys.AjaxExec(url, tags, function (data) {
                    location.reload();
                });
            });
        }

        function VideoBack() {
            RestoreScrollTop();
            _Loading = true;
            $('#ListPanel-2').hide();
            $('#ListPanel-1').show();
        }

        // 影片lightbox
        $(document).on('click', '.showVideo', function () {
            SaveScrollTop();
            var videoNo = $(this).attr('data-params').split('*/*')[0];
            var ext = $(this).attr('data-params').split('*/*')[1];        
            var style = "max-height: 500px";

            $("body").addClass("loadingVideo");

            var t = {
                Root: '@AppConfig.VideoPath',
                Folder: "",
                FileName: videoNo + ext
            };
            //https://stackoverflow.com/questions/37462263/open-filestreamresult-by-ajax-as-downloaded-file
            var request = new XMLHttpRequest();
            request.responseType = "blob";
            request.open("GET", '/Files/GetLocal?t=' + AES(JSON.stringify(t)));
            request.onload = function () {
                var url = window.URL.createObjectURL(this.response);
                $('.video-content').html('<video style="' + style + '" controls><source src="' + url + '"></video>')
            }
            request.send();

            $('.VideoModal').css('display', 'flex');
        });

        $('.video-close').on('click', function () {
            RestoreScrollTop();
            $('.VideoModal').css('display', 'none');
            $('.video-content').html('');
            $("body").removeClass("loadingVideo");
        });

        $(document).on('click', '.v-title', function () {
            $(this).parent().siblings('p.videoInfo').toggle();
        });

        function AddPerson($this) {
            var val = $this.nextElementSibling.value;
            if (val != "") {
                var html = "<span>{0}  <input type='hidden' name='person' value='{0}'><i class='fa fa-times text-danger' onclick='RmPerson(this)'></i><br /></span>".format(val);
                $('#personResult').append(html);
            } else {
                layer.alert("人名不可為空 !", { icon: 7 });
            }
        }

        function RmPerson($this) {
            $this.parentNode.remove();
        }


        // 建立相簿
        function OpenAlbum() {
            SaveScrollTop();
            $('#album-modal').show();
        };

        // 儲存相簿
        $('#album-modal #saveAlbum').on('click', function () {
            var tags = $('#album-modal').tags();
            var msg = [];
            msg.push(IsEmpty(tags.albumName) ? "相簿名稱不可為空 !" : "");
            msg = msg.filter(Boolean);

            if (msg.length > 0) {
                layer.alert(msg.join("<br>"), { title: '請輸入正確資料', icon: 7 });
            } else {
                $.wait();
                Sys.AjaxExec("/Album/Save", tags, function (data) {
                    GetSum();
                    $.close();
                    layer.alert("新增相簿成功 !", { icon: 1 }, function (index) {
                        layer.close(index);
                        $('#album-modal').hide();
                        if (Controller() == "album") {
                            location.reload();
                        }
                    });
                });
            }
        });

        // 清除Text
        $(document).on('click', '.clearText', function () {
            var $this = $(this);
            var obj = $this.attr('clearText');
            if (obj.indexOf(',') > -1) {
                $.each(obj.split(','), function (i) {
                    $('#' + $(this)).val('');
                    $('#' + $(this)).text('');
                });
            } else {
                $('#' + obj).val('');
                $('#' + obj).text('');
            }
        });

        function GetSum() {
            Sys.AjaxExec('@Url.Action("GetSum", "Home")', function (data) {
                var json = JSON.parse(data[1]);
                $('#sum-photos').text(json.Photos);
                $('#sum-videos').text(json.Videos);
                $('#sum-albums').text(json.Albums);
                $('#sum-audio').text(json.Audio);
            });
        }

        GetSum();

    </script>
</body>
</html>
